@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

:root{
  --light: #fff;
  --ducor: transparent;
  --gray: #e7e9e7;
}

.flex{
  display: flex;
}

.navbar{
  background-color: var(--bofy);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray);
}

.sidebar{
  width: 15rem;
  height: calc(100vh - 52px);
  border-right: 1px solid var(--gray);
}

.sidebar ul{
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem; 
}

.sidebar ul li a{
  text-decoration: none;
}

.content {
  flex: 1;
}

.iframe-container {
  width: 100%;
  height: 100vh; 
}

.iframe-content {
  width: 100%;
  height: 100%;
}

.active{
  background-color: var(--ducor);
  color: white;
}

@media screen and (max-width: 1200px) {
  .flex {
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--gray);
  }
  .sidebar ul{
    display: flex;
  }
}