@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Source Sans Pro", sans-serif;;
}

:root{
  --light: #fff;
  --ducor: transparent;
  --gray: #e7e9e7;
}

.flex{
  display: flex;
}

.content {
  flex: 1;
}

.iframe-container {
  width: 100%;
  height: 100vh; 
}

.iframe-content {
  width: 100%;
  height: 100%;
}

/* dashboard start */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title{
  display: flex;
  justify-content: space-between;
}

.main-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child{
  background-color: blue;
  color: white;
}

.card:nth-child(2){
  background-color: green;
  color: white;
}

.card:nth-child(3){
  background-color: orangered;
  color: white;
}

.card:nth-child(4){
  background-color: red;
  color: white;
}

.card-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* end dashboard */
/* start car designs */
.container-cart-icon{
  display: inline
}
.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 5%;
	left: 30%;

	background-color: #000;
	color: #fff;
	width: 15px;
	height: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}
/* end car designs */
/* start car */
.container-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
  margin: 0;
}

.item:hover img {
  /* transition: 10s; */
	transform: scale(1.2);
  /* height: 400px;
  position: absolute;
  width: 50px; */

}

.info-product {
	padding: 15px 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
  height: 250px;
  /* text-align: center; */
}

.info-product h2{
  font-size: 25px;
  height: 100px;
  overflow: hidden;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

/* end car */
@media screen and (max-width: 1500px) {

}

