@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

:root{
  --light: #fff;
  --ducor: transparent;
  --gray: #e7e9e7;
}

.flex{
  display: flex;
}

.navbar{
  background-color: var(--bofy);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray);
}

.sidebar{
  padding-top: 15px;
  text-align: center;
  width: 15rem;
  height: calc(160vh - 52px);
  border-right: 1px solid var(--gray);
}

.sidebar.close{
  width: 15rem;
  position: absolute;
  z-index: 1;
}

.sidebar ul{
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem; 
}

.sidebar ul li a{
  text-decoration: none;
}

.content {
  flex: 1;
}

.iframe-container {
  width: 100%;
  height: 100vh; 
}

.iframe-content {
  width: 100%;
  height: 100%;
}

.active{
  background-color: var(--ducor);
  color: white;
}

.button-burger{
  background: gray; 
  margin: 4px;
  display: none
}

@media screen and (max-width: 1500px) {
  .button-burger{
    display: block;
  }
  .sidebar{
    width: 0rem;
    transition: all 0.5s ease;
    z-index: -1;
  }
  /* .flex {
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--gray);
  }
  .sidebar ul{
    display: flex;
  } */
}